# Node/JS artifacts
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
coverage/
dist/
build/
.cache/
.eslintcache
.tsbuildinfo

# Next.js
.next/
out/
.vercel/

# Env and OS
.env
.env.*
.DS_Store

# Tooling
.turbo/
.pnpm-store/
.yarn/*
.idea/
.vscode/
.vercel
